<!-- the trigger -->
<div class="curtain-menu-button" data-curtain-menu-button>
  <div class="curtain-menu-button-toggle">
    <div class="bar1"></div>
    <div class="bar2"></div>
  </div>
</div>

<!-- the menu  -->
<div class="curtain-menu">
  <div class="curtain"></div>
  <div class="curtain"></div>
  <div class="curtain"></div>
  <div class="curtain-menu-wrapper">
    <ul class="curtain-menu-list menu vertical">
      <li><a href="/">ホーム</a></li>
      <li><a href="/about">このサービスについて</a></li>
      <% if user_signed_in? %>
        <li><%= link_to "ブログを書く", new_post_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "会員になる", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>      
    </ul>
  </div>
</div>

<script>
  $('[data-curtain-menu-button]').click(function(){
    $('body').toggleClass('curtain-menu-open');
  })
</script>