<nav>
  <ul class="nav-items">
    <li class="nav-item"><a href="#"><i class="fa fa-home"></i>Memolog</a></li>
    <li class="nav-item"><a href="#"><i class="fa fa-file"></i> 投稿する</a></li>
    <li class="nav-item"><a href="#"><i class="fa fa-cogs"></i></a></li>
  </ul>
</nav>