form {
    margin-top: 20vh;
    .input-group {
      // display: inline-block;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 1rem;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      justify-content: center;
     }
    .form-icons {
      text-align: center;
      h4 {
        margin-bottom: 1rem;
      }
  
      .input-group-label {
        background-color: $primary-color;
        border-color: $primary-color;
      }
      .input-group-label {
        border: 1px solid #cacaca;
        color: #0a0a0a;
        text-align: center;
        white-space: nowrap;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
  
      .input-group-field {
        border-color: $primary-color;
        margin-bottom: 0;
        width: 80%;
      }
  
      .fa {
        color: white;
        width: 3rem; // makes the width of icon labels equal
      }
    }
    .button.expanded {
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
    }
  }
  
  